:root {
  --ifm-color-primary: #0088ff;
  --ifm-color-primary-dark: #007ae6;
  --ifm-color-primary-darker: #0074d9;
  --ifm-color-primary-darkest: #005fb3;
  --ifm-color-primary-light: #1a94ff;
  --ifm-color-primary-lighter: #269aff;
  --ifm-color-primary-lightest: #4dacff;
}

[data-theme='dark'] {
  --ifm-color-primary: #0091ff;
  --ifm-color-primary-dark: #0083e6;
  --ifm-color-primary-darker: #007bd9;
  --ifm-color-primary-darkest: #0065b3;
  --ifm-color-primary-light: #1a9cff;
  --ifm-color-primary-lighter: #26a2ff;
  --ifm-color-primary-lightest: #4db2ff;
}

.docMainContainer_TBSr {
  max-width: 960px;
  margin: 0 auto;
}